# Report directory
report/*
!report/*.tex
!report/*.bib

# Eclipse directory
eclipse/requirements-dsl.diagram/
eclipse/requirements-dsl.edit/
eclipse/requirements-dsl.editor/
eclipse/requirements-dsl.tests/
eclipse/requirements-dsl/.classpath
eclipse/requirements-dsl/META-INF/
eclipse/requirements-dsl/build.properties
eclipse/requirements-dsl/plugin.properties
eclipse/requirements-dsl/plugin.xml
eclipse/requirements-dsl/requirements.ecore
eclipse/requirements-dsl/requirements.genmodel
eclipse/requirements-dsl/requirements.gmfgen
eclipse/requirements-dsl/requirements.gmfgraph
eclipse/requirements-dsl/requirements.gmfmap
eclipse/requirements-dsl/requirements.gmftool
eclipse/requirements-dsl/requirements.trace
eclipse/requirements-dsl/src/
eclipse/requirements-dsl/untitled.model
eclipse/research-project-dsl.zip_expanded/
eclipse/software-distribution-dsl.zip_expanded/
eclipse/.metadata/
eclipse/requirements-dsl/bin/

# Examples
examples

