# Eclipse
workspace/.metadata/
workspace/requirements.diagram/
workspace/requirements.edit/
workspace/requirements.editor/
workspace/requirements.tests/
workspace/requirements/.classpath
workspace/requirements/.gitignore
workspace/requirements/META-INF/
workspace/requirements/build.properties
workspace/requirements/metamodel.ecore
workspace/requirements/metamodel.genmodel
workspace/requirements/metamodel.gmfgen
workspace/requirements/metamodel.gmfgraph
workspace/requirements/metamodel.gmfmap
workspace/requirements/metamodel.gmftool
workspace/requirements/metamodel.trace
workspace/requirements/plugin.properties
workspace/requirements/plugin.xml
workspace/requirements/src/


# Embedded Eclipse
runtime-EclipseApplication/.metadata/
runtime-EclipseApplication/model/.settings/



# Report
report/*
!report/*.tex
!report/*.bi

examples